/*Organisation de la page */
:root{
    --main-html-font-family : 'La Belle Aurore', sans-serif;
    --main-titles-font-family: 'Raleway', sans-serif ;
    --main-text-font-family: 'Open Sans', sans-serif;
    --main-mode-backgroundcolor: url(/img/logo/backgroundColor/moon.png);
    --main-mode-language: url(/img/logo/language/england.png);
    --main-bg-color:white;
    --main-text-color:black;
    --main-text-html-color: rgb(120, 113, 113);
    --main-text-shadow: 0px 0px 15px white;
    --main-containors: rgb(147, 147, 141);
    --main-containors-footer:rgb(177, 175, 175);
    
}
html{
    font-size: 1em;
    font-family: var(--main-text-font-family);
    scroll-behavior: smooth;
}
html a{
    color: var(--main-text-color);
}
body{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 95%;
    margin: 0px auto ;
}
/*tous les titres*/
h2{
    font-family:var(--main-titles-font-family);
    font-size: 3vw;
    letter-spacing: 10px;
    margin-left: 150px; 
    padding-top: 100px;
}
h3{
    font-family:var(--main-titles-font-family);
    font-size: 1.7vw;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 1320px) {
    h2{
        text-align: center;
        margin-left: 0px;
    }
}

@media screen and (max-width: 1100px) {
    h2{
        padding-top: 70px;
    }
}
@media  screen and (max-width: 500px){
    h2{
        font-size: 4vw;
    }
}
