/*Section Skil*//************************************/
.container-skills {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    height: 70vh;
    width: 80vw;
    font-size: 2vw;
 }
 .skills-header{
    margin-bottom: 2%;
    position: relative;
    text-decoration: underline;
}
   
 #skills-front {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%; 
 }
 .front-items{
     display: flex;
     flex-wrap: wrap;
 }
 .item-front{
     margin-right:20px;
     opacity: 0;
 }
 @keyframes frontItems {
     from {
        transform: translateY(60px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }
 }
 .cards-skills{
    transition: all 0.5s ease;
 }
 /*carte1*/
#card-one-skills{
    position: relative;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 6;
    height: 100%;
    width: 100%;
 }
 #card-one-skills-front{
    width: 100%;
    height: 100%;
    background-image: url(/img/skills1.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20%;
    border-radius: 10px;  
}
 #card-one-skills-back{
    transform: scaleY(0); 
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 0.6s;
    margin-left: 18%;
    border-radius: 5px; 
    color: rgb(0, 0, 0);
    font-weight: bolder;
 }
 /*carte2*/
 #card-two-skills {
    position: relative;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
     
 }
 #card-two-skills-front{
    background-image: url(/img/skills.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 10px;
 }
 #card-two-skills-back{
    transform: scaleY(0); 
    position: absolute;
    width: 100%;
    height: 85%; 
    bottom: 7.5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    transition: 0.6s;
    border-radius: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bolder;
 }
/*container back-end*/
 #skills-back {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    text-align: right;
 }
 .item-back{
    margin-bottom: 12%;
    opacity: 0;
}
@keyframes backItems{
    from {
        transform: translatex(60px);
        opacity: 0;
    }to{
        transform: translateY(0px);
        opacity: 1;
    }
}

 #additional-skills {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-column-end: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0; 
 }
 @keyframes additionalItems {
     from{opacity: 0;}
     to{opacity: 1;}
 }
 .container-additional-items{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-right: 5%;
 }
 .item-addit{
   
     margin: 15px 15px ;
 }


/*Section PF*//*************************************************/
#pf{
    height: 100%;
    margin-bottom: 100px;
}

.card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    width: 65%;
    margin-top: 12vh;
    /*overflow for card-after animation*/
    overflow: hidden;
    transition: 1s;
}
.right{
    margin-left: 25%;
}
.left{
    margin-right: 25%;
}
/*création du voile sur les containeurs
disparaissant à l'intersection de la vue*/
.card-container-after{
    content: "";
    display: block;
    position: absolute;
    width: 103%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
}
.card-animation{
    animation: slide-out 1.2s ease-out forwards;
}
@keyframes slide-out {
    100% {
        transform: translateX(101%)
    }
}
/*partie header des containeurs*/
.card-container h3{
    height: 15%;
    width: 100%;
    text-align: center;
    padding: 0;
}
/*partie image des containeurs*/
.card-pf{
    width: 100%;
    height: 70%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 5px; 
    
}
#img-pf-one{
    background-image: url(/img/homeMin.jpg); 
    
}
#img-pf-two{
    background-image: url(/img/atom.jpg); 
}
/*partie footer des containeurs*/
.card-footer{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 1.4vw;
}
.footer-box{
    text-decoration: none;
    cursor: pointer;
}
.card-image-after{
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(140, 146, 146);
    opacity: 0;
    transition: 0.3s; 
}
.after-right{
    left: -100%;
}
.after-left{
    right: -100%;
}

/*partie hover carte déclenché par details*/
.card-image-after-p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    font-size: 1.8vw;
    line-height: 45px;
    color: var(--main-text-color);
    text-shadow: var(--main-text-shadow);
    margin: 0 auto;
}

/*class add with js*/
.details-hover-right{
    transition: 0.4s;
    left: 0;
    opacity: 0.8;
}
.details-hover-left{
    transition: 0.4s;
    right: 0;
    opacity: 0.8;
}
@media screen and (max-width: 1520px){
    /*section 3*/
    .skills{
        height: 60%;
    }
    .skill-item{
        margin: 0px;
    }
    .skills-logo{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 1320px){
    /*section 3*/
   #item-1{
       width: 110%;
   }
   #additional-skills{
       margin-left: 12%;
   }
   #item-3{
       width: 130%; 
   }
}
@media  screen and (max-width: 700px){
    /*section3*/
    .container-skills {
        display: grid; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: 1fr 1fr;
        gap: 1%;
        height: 80vh;
        width: 80vw;
        font-size: 3vw;
        margin-top: 6%;
     }
     #skills-front {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2%; 
     }
     .front-items{
         flex-direction: column;
     }
     .item-front{
         margin-bottom: 2%;
     }
     #card-one-skills{
        position: relative;
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        height: 100%;
        width: 100%;
    
     }
     #card-one-skills-front{
        width: 100%;
        height: 100%;
        margin-left: 0%;  
    }
    #card-one-skills-back{
        margin-left: 0;
    }
     #skills-back {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        text-align: left;
     }
     #card-two-skills {
        position: relative;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        width: 100%;
        height: 100%;
        border-radius: 20px;  
     }
     #additional-skills {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 70%;
        margin: 0 auto;
     }
    /*section 4*/
    .card-container{
        margin: 0;
        width: 70%;
        margin-top: 8%;
    }
}
@media  screen and (max-width: 500px){
    /*section 3*/
    .container-skills{
        font-size: 4vw;
    }
    /*section 4*/
    #pf h3{
        font-size: 4vw;
    }
    .card-footer{
        font-size: 3vw;
    }
    #card-image-after-p{
        font-size: 2.2vw;
    }
}


/* <a href='https://fr.freepik.com/photos/fond'>Fond photo créé par pvproductions - fr.freepik.com</a> */